/* ------ HARU --------- */

body {
    margin: 0;
    background-color: #FFE5B4; /* naranja claro */
    overflow: hidden;
  }
  
  #haru-title {
    text-align: center;
    font-size: 100px;
    color: #5c0433;
    margin-top: 100px;



  }


  #haru {
    position: absolute;
    bottom: 500px;
    left: 0;
    width: 200px;
    height: 200px;
    image-rendering: pixelated;
  }
  