/* ------ HARU --------- */

body {
    margin: 0;
    background-color: #FFE5B4; /* naranja claro */
    overflow: hidden;
  }
  
  #haru-title {
    text-align: center;
    font-size: 100px;
    color: #5c0433;
    margin-top: 100px;



  }


  #haru {
    position: absolute;
    bottom: 500px;
    left: 0;
    width: 200px;
    height: 200px;
    image-rendering: pixelated;
  }
  

  #haru-speech {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 150px;
    font-size: 24px;
    color: #333;
    background: #fff8dc;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #d3a36b;
    font-family: 'Comic Sans MS', cursive;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: none; /* Oculto por defecto */
    z-index: 10;
  }
  