body, html {
    margin: 10px;
    padding: 0;
  }
  
  
  body {
    background-color: rgb(251, 98, 197);
  }
  
  
  /* ====== FONT PIXEL ====== */
  
  
  @font-face {
    font-family: 'PixelCony';
    src: url('/fonts/PixelCony-Regular.ttf') format('truetype');
  }
  
  
  #title {
    font-family: "PixelCony";
    color: rgb(186, 52, 121);
    text-align: center; 
    font-size: clamp(2rem,3vw,4.5rem);
  }

  #texto {
    font-family: "PixelCony";
    color:black;
    text-align: justify;
    font-size: clamp(2rem,3vw,3rem);
  }

 #reserva-picture {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }

  .formulario {
    text-align: center;

  }

  #reserva-picture-cell {
    display: none;
  }

  @media (max-width: 600px) {

    #reserva-picture{
        display: none;
    }

    #reserva-picture-cell {
        width: 100%;
        height: auto; 
        display: block;
      }
        

    




  }

